/* 
    Created on : 12-nov-2014, 14.20.14
    Author     : Gabriele
*/
*{
    margin:0;
}
.quadrato{
    width:100px;
    height: 100px;
    border-radius:10px;
    margin: 5px;
    display:inline-block;
    background-color: red;
}
header{
    width:100%;
}
.button{
    width:19%;
    height:50px;
    background-color: #00AACC;
    display:flex;
}
.append{}
.quadrato:hover{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
